<h1> Manage Account </h1>

<form action="/my-trips" method="post">
<input type="submit" value="view upcoming trips">
</form> 

<form action= "/update-details" method="post">
<input type="submit" value="update details">
</form> 

<form action= "/listings" method="get">
<input type="submit" value="view all properties">
</form> 