<form action='/login_auth' method='post'>
  Email Address: <input type="text" name="email" placeholder="Email address" />
  Password: <input type="text" name="password" />
  <input type="submit" value="Login" />
</form>
