<form action="updated_details" method="post">
User name<input type="text" Placeholder="user_name" />
<br>
Email<input type="text" Placeholder="email" />
<br>
Password<input type="text" Placeholder="password" />
<br>
Phone number<input type="text" Placeholder="phone_number"/>
<br>
<input type="submit" value="update details"/>
</form>